.about {
  &__header {
    padding-bottom: $gutter;
    font-family: "Roboto Slab", serif;
  }

  &__text {
    padding-bottom: $gutter;
    font-family: "Open sans", sans-serif;
  }

  &__quote {
    padding-top: $gutter;
    padding-bottom: $gutter * 2;
    padding-left: $gutter * 3;
    font-family: "Open sans", sans-serif;

    @media (max-width: 500px) {
      padding: $gutter;
    }

    &__text {
      padding-bottom: 1em;
      font-size: 1.5em;
      font-style: italic;

      &__author {

      }
    }
  }
}
