.about {
  &__header {
    font-family: "Open sans", sans-serif;
    font-size: 1.5em;
  }

  &__text {
    font-family: "Open sans", sans-serif;
  }

  &__quote {
    font-family: "Open sans", sans-serif;
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 1em;
    }


  &--space{
    justify-content: space-between;
    @media (max-width: 599px) {
      float:left;
  }
}

  &--right{
    @media (max-width: 599px) {
      float:right;
    }
  }

}
