.backimage {
  height: 50vh;
  min-height: 15em;
  margin-bottom: $gutter;
  word-wrap: break-word;
  background-image: url("bg-subpage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    height: 100%;
    padding-top: 20vh;
    padding-left: $gutter + 5;
    font-family: "Roboto slab", serif;
    font-size: 60px;
    font-weight: bold;
    color: $whitecolor;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
