.backimage {
  display: flex;
  min-width: 100%;
  height: 75vh;
  min-height: 15em;
  flex-direction: row;
  background-image: url("bg-subpage.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  align-items: center;
  justify-content: center;

  @media (max-width: 400px) {
    background: url("bg-subpage.jpg") no-repeat scroll 5% 0%;
  }

  &__title {
    font-size: 2.25em;
    color: $whitecolor;
    vertical-align: middle;
  }
}
