.backimage {
  height: 50vh;
  min-height: 15em;
  margin-bottom: $gutter;
  background-image: url("myndir/bg-subpage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wf {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.2);

    &__title {
      width: 100%;
      max-width: $mx-width;
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
      margin: 0 auto;
      font-family: "Roboto slab", serif;
      font-size: 60px;
      font-weight: bold;
      color: $whitecolor;
    }
  }
}
