.button {
  font-family: "Open sans", sans-serif;
  color: $whitecolor;
  text-decoration: none;
  cursor: pointer;
  background-color: $buttoncolor;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 2px 2px $cardboxshadow;
  transition: background-color 500ms ease;

  &:hover {
    background-color: $buttoncolor - 50;
  }

  &--center {
    display: block;
    width: 20%;
    min-width: 275px;
    height: 2.5em;
    margin: 0 auto;
    font-size: 18px;
  }
}
