.frontimage {
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    &__title1,
    &__title2 {
        text-align: center;
        font-family: 'Roboto Slab', serif;
    }
    &__title1 {
        padding-top: 35vh;
        padding-bottom: 5vh;
        font-size: 2em;
    }
    &__title2 {
        font-size: 4em;
        font-weight: bold;
    }
}
