.frontimage {
  background: url("bg.jpg") no-repeat fixed 50% 50%;
  background-position: center;
  height: 100vh;
  background-size: cover;

  &__title1,
  &__title2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
  }

  &__title1 {
    font-size: 2em;
    padding-bottom: 5vh;
    padding-top: 35vh;
    }

  &__title2 {
    font-size: 4em;
    font-weight: bold;
    }
}
