.gridrow {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12vh;
  padding-top: 2em;
  padding-bottom: 2em;

  &--flex {
    display: flex;
    justify-content: space-around;
  }
}

@mixin columns($col: 1) {
  width: ($col / 12 * 100) * 1%;
}

.gridcol {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;

  &--12 {
    @include columns(12);
  }

  &--6 {
    @include columns(6);
  }

  &--5 {
    @include columns(5);
  }

  &--3 {
    @include columns(3);
  }

  &--breakhalf {
    @media (max-width: 599px) {
      @include columns(12);
    }
    @media (min-width: 600px) {
      @include columns(6);
    }
  }
}
