.gridrow {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $gutter * 4;

  &--flex {
    display: flex;
    justify-content: space-around;
  }
}

@mixin columns($col: 1) {
  width: ($col / 12 * 100) * 1%;
}

.gridcol {
  padding-right: $gutter / 2 + 5;
  padding-left: $gutter / 2 + 5;

  &--12 {
    @include columns(12);
  }

  &--6 {
    @include columns(6);
  }

  &--5 {
    @include columns(5);
  }

  &--3 {
    @include columns(3);
  }

  &--flowright {
    @media (max-width: 399px) {
      @include columns(12);
      float: left;
    }

    @media (min-width: 500px) {
      @include columns(6);
      float: right;
    }

  }

}
