.gridrow {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 12vh;

  &--flex {
    display: flex;
    justify-content: space-around;
  }
}

@mixin columns($col: 1) {
  width: ($col / 12 * 100) * 1%;
}

.gridcol {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;

  &--12 {
    @include columns(12);
  }

  &--6 {
    @include columns(6);
  }

  &--5 {
    @include columns(5);
  }

  &--3 {
    @include columns(3);
  }

  &--flow {

    @media (max-width: 599px) {
      /* color: purple; */

      /* display: inline-block; */

    }
    @media (min-width: 600px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &--flowleft {
    @media (max-width: 599px) {
      /* @include columns(12); */

    }
    @media (min-width: 600px) {
      @include columns(5);

    }
  }

  &--flowright {
    @media (max-width: 599px) {
      /* @include columns(12); */
      @include columns(6);
      float: right;
      padding-bottom: (1/ 12 * 100) * 1%;
      padding-left: (1/ 12 * 100) * 1%;
    }
    @media (min-width: 600px) {
      @include columns(6);
    }

  }

}
