.infoblock {
  max-width: 500px;
  border: 0 solid $whitecolor;

  &__title {
    font-family: "Open sans", sans-serif;
    font-size: 1.5em;
  }

  &__name {
    font-family: "Open sans", sans-serif;
  }

  &__inp {
    font-family: "Open sans", sans-serif;
    border-radius: 5%;

    &--box, {
      width: 100%;
      padding: 0.2em;
      font-size: 1em;
      border-radius: 0.25em;
    }

    &--short {
      width: 30%;
    }
  }

  &__oneline {
    display: block;
    margin: 1em;

    &--flex {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}
