.infoblock {
  border: 0 solid white;

  &__title {
    font-size: 1.5em;
    font-family: "Open sans", sans-serif;
  }

  &__name,
  &__inp {
    font-family: "Open sans", sans-serif;
  }

  &__oneline {
    margin: 0.5em;
    display: block;
  }
}
