.navbar {
  align-items: center;
  background-color: $navbarcolor;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: $gutter / 2;
  position: fixed;
  top: 0;
  width: 100%;

  &__text {
    color: $whitecolor;
    font-family: 'Roboto slab', serif;
    font-size: 24px;
  }

  &__umkaupa:active { //óþarfi að setja reglur en nauðsynlegur container, eða hvað?
  }

  &__link {
    color: $whitecolor;
    padding: 10px 20px;  //padding gefur meira clickable area
    text-decoration: none;

    @media (max-width: 400px) {
      padding-right: 0;
    }
  }

  &__button {
    background-color: $buttoncolor;
    border: 0;
    border-radius: 3px;
    color: $whitecolor;
    cursor: pointer;
    padding: 6px;
    transition: background-color 500ms ease;

    @media (max-width: 400px) {
      display: none;
    }

    &:hover {
      background-color: $buttoncolor - 75;
    }
  }
}
