.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  padding: $gutter / 2 $gutter;
  overflow: hidden;
  background-color: $navbarcolor;
  justify-content: space-between;

  &__text,
  &__link {
    color: $whitecolor;
  }

  &__text {
    display: block;
    font-family: "Roboto slab", serif;
    font-size: 24px;
    font-weight: bold;

    @media (max-width: 400px) {
      font-size: 21px;
    }
  }

  &__umkaupa { //óþarfi að setja reglur en nauðsynlegur container vegna justify-content: space-between.
  }

  &__link {
    padding: 10px 15px;  //padding gefur meira clickable area
    font-family: "Open sans", sans-serif;
    text-decoration: none;

    @media (max-width: 400px) {
      padding-right: 0;
    }

    &--main {
      padding: 5px;
    }
  }

  &__button {
    padding: 8px 10px;
    background-color: $buttoncolor + 25;

    @media (max-width: 400px) {
      display: none;
    }

    &:hover {
      background-color: $buttoncolor;
    }
  }
}
