.points {
  display: flex;
  flex-direction: column;

  &__item {
    &__img {
      max-width: $gutter;
    }

    &__title {
      display: inline;
      font-family: "Open sans", sans-serif;
      font-size: 1.5em;
    }

    &__quote {
      font-family: "Open sans", sans-serif;
    }
  }

  &__img {
    max-width: 100%;
  }
}
