.testament {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  &__item {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
  &__img {
    max-width: 100%;
    border-radius: 50%;
  }
  &__quote {
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    margin: 0.5em;
  }
  &__name,
  &__time {
    font-family: 'Open Sans', sans-serif;
    margin: 0.4em;
  }
  &__time {
    font-size: 0.8em;
  }
}
