.testament {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    display: flex;
    max-width: 350px;
    padding: $gutter;
    flex-direction: column;
    justify-content: space-between;

    &__img {
      max-width: 100%;
      border-radius: 50%;
    }

    &__quote,
    &__name,
    &__time {
      margin: 0.4em;
      font-family: "Open Sans", sans-serif;
    }

    &__quote {
      margin: 0.5em;
      font-size: 1.5em;
      font-style: italic;
      font-weight: bold;
    }

    &__name {
      font-weight: bold;
    }

    &__time {
      font-size: 12px;
    }
  }
}
