.testament {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    display: flex;
    max-width: 400px;
    padding: $gutter;
    flex-direction: column;
  }

  &__img {
    max-width: 100%;
    border-radius: 50%;
  }

  &__quote {
    margin: 0.5em;
    font-family: "Roboto Slab", serif;
    font-size: 1.5em;
  }

  &__name,
  &__time {
    margin: 0.4em;
    font-family: "Open Sans", sans-serif;
  }

  &__time {
    font-size: 0.8em;
  }
}
