$gutter: 20px;
$navbarcolor: rgba(0, 0, 0, 0.6);
$whitecolor: #fff;
$buttoncolor: #666;
$cardboxshadow: rgba(0, 0, 0, 0.2);

html { /* stylelint-disable-line */
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.button {
  color: $whitecolor;
  cursor: pointer;
  background-color: $buttoncolor;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 2px 2px $cardboxshadow;
  transition: background-color 500ms ease;

  &:hover {
    background-color: $buttoncolor - 50;
  }
}

@import "scss/grid";
@import "scss/testament";
@import "scss/points";
@import "scss/frontimage";
@import "scss/navbar";
