$gutter: 20px;
$navbarcolor: rgba(0, 0, 0, 0.6);
$whitecolor: #fff;
$buttoncolor: #666;
$cardboxshadow: rgba(0, 0, 0, 0.2);

html { /* stylelint-disable-line */
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.purchase {
  display: flex;
  align-items: center;
  padding-bottom: 10vh;
  flex-direction: column;

  &__text {
    padding: 25px;
    font-family: "Roboto slab", serif;
    font-size: 24px;
    font-weight: bold;
  }

  &__button {
    padding: 10px 60px;
    font-size: 36px;
  }
}

.footer {
  color: $whitecolor;
  background-color: $buttoncolor - 50;

  &__upper {
    display: flex;
    justify-content: center;
    text-align: center;

    &__text {
      display: block;
      width: 200px;
      padding: 30px 0;
    }
  }

  &__lower {
    text-align: center;

    &__text {
      padding: 25px;
      border-top: solid 1px $buttoncolor;
    }
  }
}

@import "scss/grid";
@import "scss/testament";
@import "scss/points";
@import "scss/frontimage";
@import "scss/navbar";
@import "scss/backimage";
@import "scss/about";
@import "scss/button";
@import "scss/infoblock";
@import "scss/gridrow";
